body {
  font-family: -apple-system, "Helvetica", BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

body {
  font-family: -apple-system, "Helvetica", BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.lks-slider-dot {
  border: 1px solid #C4C4C4;
  width: 7px;
  height: 7px;
  border-radius: 30px;
}
.lks-slider-dot-selected {
  border-color: #e0c0c3;
  background: #e0c0c3;
}
.lks-color-circle {
  background: #eee;
  justify-content: center;
  display: flex;
  align-items: center;
  border-radius: 20px;
  width: 10px;
  height: 10px;
  padding: 4px;
}
.lks-color-circle-color {
  width: 100%;
  border-radius: 100%;
  height: 100%;
}
.lks-breadcrumb {
  color: #545353;
}
.lks-breadcrumb a {
  color: #aaa;
}
.lks-breadcrumb-heading {
  line-height: 2;
  font-weight: normal;
}
.lks-btn-social {
  width: 50px;
  height: 50px;
  background: #3e4148;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 40px;
}
.lks-btn-social-icon {
  filter: brightness(2);
}
.lks-btn-social:hover {
  background: #e0c0c3;
  cursor: pointer;
}

body {
  font-family: -apple-system, "Helvetica", BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.lks-btn {
  border: none;
  display: inline-block;
  white-space: nowrap;
  background: white;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
  padding: 13px 30px;
  font-size: 18px;
  border-radius: 500px;
  font-weight: medium;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: #656d6d;
  transition: background 0.4s;
}
.lks-btn:hover {
  background: #eee;
  cursor: pointer;
}
.lks-btn-bordered {
  background: #fff;
  border: 1px solid #e0c0c3;
  box-shadow: none;
  font-size: 80%;
}
.lks-btn-main {
  background: #e0c0c3;
  color: #fff;
}
.lks-btn-main:hover {
  background: #ddbbbe;
}
.lks-btn-icon-main {
  background: #e0c0c3;
  color: #fff;
}
.lks-btn-icon-main:hover {
  background: #dbb6b9;
}
.lks-btn-icon-main .lks-btn-icon-icon {
  background: white;
}
.lks-btn-icon-bordered {
  background: #fff;
  border: 1px solid #e0c0c3;
  box-shadow: none;
  font-size: 80%;
}
.lks-btn-icon-bordered .lks-btn-icon-icon {
  background: none !important;
  border: 1px solid #e0c0c3;
}
.lks-btn-icon {
  padding: 4px;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
}
.lks-btn-icon-text {
  padding: 10px 30px;
}
@media screen and (max-width: 1427px) {
  .lks-btn-icon-text {
    padding: 5px 15px;
  }
}
.lks-btn-icon-icon {
  box-sizing: border-box;
  background: #e0c0c3;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 300px;
  height: 40px;
  width: 40px !important;
}
.lks-inp {
  background: #efefef;
  padding: 10px;
  border: none;
  border-radius: 5px;
}
.lks-inp-bordered {
  background: #fff;
  border: 1px solid #e5e5e5;
}
.lks-inp-bottom {
  background: #fff;
  border-radius: 0;
  border-bottom: 1px solid #c4c4c4;
}
.lks-card {
  padding: 10px;
}
.lks-card-floating {
  box-shadow: 10px 20px 30px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}
.lks-radio {
  border: 1px solid #ccc;
  padding: 2px;
  border-radius: 20px;
  display: inline-block;
}
.lks-radio-circle {
  width: 10px;
  height: 10px;
  background: #ccc;
  border-radius: 10px;
}
.lks-radio-selected {
  border-color: #e0c0c3;
}
.lks-radio-selected .lks-radio-circle {
  background-color: #e0c0c3;
}

body {
  font-family: -apple-system, "Helvetica", BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.lks-container {
  margin: 0 15%;
}
@media screen and (min-width: 4000px) {
  .lks-container {
    margin: 0 40%;
  }
}
@media screen and (min-width: 3000px) {
  .lks-container {
    margin: 0 30%;
  }
}
@media screen and (min-width: 2000px) {
  .lks-container {
    margin: 0 25%;
  }
}
@media screen and (max-width: 1200px) {
  .lks-container {
    margin: 0 5%;
  }
}
.lks-flex {
  display: flex;
}
.lks-flex-col {
  flex-direction: column;
}
.lks-flex-jcsb {
  justify-content: space-between;
}
.lks-flex-jcc {
  justify-content: center;
}
.lks-flex-jcfe {
  justify-content: flex-end;
}
.lks-flex-aic {
  align-items: center;
}
.lks-flex-split > * {
  flex: 1;
}

body {
  font-family: -apple-system, "Helvetica", BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.lks-heading {
  color: #545353;
  line-height: 1.51;
  font-weight: normal;
}
.lks-see-more {
  cursor: pointer;
  text-align: center;
  line-height: 4;
}
.lks-see-more:hover {
  color: #e0c0c3;
}
.lks-small {
  font-size: 12px;
  color: #c4c4c4;
}
.lks-date {
  font-size: 12px;
  line-height: 17px;
  color: #c4c4c4;
}
.lks-paragraph {
  font-size: 20px;
  line-height: 28px;
  text-align: justify;
  color: #545353;
}
.lks-author {
  font-style: normal;
  font-size: 14px;
  line-height: 19px;
  color: #545353;
}
.lks-roundpad {
  padding: 5px;
  border-radius: 4000rem;
}
.lks-sale {
  color: #FFA0A0;
}
.lks-product-name {
  color: #545353;
  font-size: 18px;
}
.lks-product-text {
  font-size: 16px;
  line-height: 22px;
  text-align: justify;
  color: #545353;
}
.lks-price-now {
  font-size: 30px;
  color: #FFFFFF;
}
.lks-price-old {
  font-size: 14px;
  align-self: flex-end;
  color: #FFFFFF;
}
.lks-product-size {
  font-size: 24px;
  color: #FFFFFF;
}
.lks-big-text {
  font-size: 30px;
}

body {
  font-family: -apple-system, "Helvetica", BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.lks-mod-text-center {
  text-align: center;
}
.lks-mod-fill {
  width: 100%;
}
.lks-mod-pointer {
  cursor: pointer;
}
.lks-mod-text-normal {
  font-weight: normal !important;
}

body {
  overflow-x: hidden;
}