$namespace: lks-;
$color-main: #e0c0c3;
$color-text: #545353;
$color-shaded: #c4c4c4;

body {
  font-family: -apple-system, 'Helvetica', BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

* {
  margin: 0; 
  padding: 0;
}

a {
  text-decoration: none;
}